/*=============GERAL============*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: clockDigital;
    src: url(fonts/digital-7-momo.ttf);
}
body{
    background: rgb(39, 38, 38);
    color:white;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
/*=============TIME============*/
.timeview{
    font-family: clockDigital;
    font-weight: 500;
    font-style: italic;

}
.minutes, .seconds, .milliseconds{
    font-size: 6.5rem;
}
.milliseconds{
    font-size: 3rem;
    margin-left: -5px;
}
.points{
    font-size: 8rem;
    margin-left: -15px;
    margin-right: -20px;
}
/*=============BUTTONS============*/
.buttons{
    margin-top: 10px;
}

#start{
    width: 50px;
    height: 60px;
    background: none;
    border: none;
    background-image: url(img/start.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
#stop{
    display: none;
    width: 50px;
    height: 60px;
    background: none;
    border: none;
    background-image: url(img/paused.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
#restart{
    width: 50px;
    height: 60px;
    background: none;
    border: none;
    background-image: url(img/restart.png);
    background-repeat: no-repeat;
    cursor: pointer;
}