/*=============GERAL============*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: clockDigital;
    src: url(fonts/digital-7-momo.ttf);
}
body{
    background: rgb(39, 38, 38);
    color:white;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}
/*=============TIME============*/
.timeview{
    font-family: clockDigital;
    font-weight: 500;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
}
.minutes, .seconds, .milliseconds{
    font-size: 6rem;
}
.minutes, .seconds, .milliseconds:not(:last-child){
    margin-right: -.5rem;
}
.minutes, .seconds, .milliseconds:not(:first-child){
    margin-left: -.55rem;
}
.milliseconds{
    font-size: 3rem;
    align-self: flex-end;
    margin-bottom: .65rem;
}
.points{
    font-size: 5rem;

}
/*=============BUTTONS============*/
.buttons{
    margin-top: 10px;
}

#start, #restart, #stop{
    background: none;
    border: none;
    cursor: pointer;
}
#start, #restart, #stop:not(:last-child){
    margin-right: .5rem;
}
.img_start, .img_stoped, .img_restart{
    object-fit: cover;
    width: 50px;
    height: 50px;
}
.img_start:hover, .img_stoped:hover, .img_restart:hover{
    transform: scale(1.1) ;
}
#stop{
    display: none;
}